.container {
  padding: 22px 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}

.burgerMenu_link {
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.burgerMenu {
  width: 100%;
  height: 100%;
}

.logo_link {
  width: 170px;
  height: 25px;
}

.logo {
  width: 100%;
  height: 100%;
}

.search {
  padding: 14px 51px;
  width: 60%;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid #d9d9d9;
  outline: none;
}

.search::placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #b2b2b2;
}

.basket {
  width: 24px;
  height: 24px;
}

.user_link {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user_link span:last-child {
    content: "0";
    padding: 2px 5px;
    position: absolute;
    right: 11px;
    bottom: 16px;
    display: block;
    font-size: 10px;
    font-weight: 500;
    background-color: #E53030;
    text-align: center;
    color: #fff;
    border-radius: 50%;
}

.user_link span:nth-child(2) {
    font-weight: 500;
    font-size: 14px;
}

.user_link:hover span:nth-child(2) {
    text-decoration: underline;
}

@media (max-width: 1400px) {
  .container {
    padding: 22px 60px;
  }
}

@media (max-width: 1000px) {
  .container {
    padding: 22px;
  }
}

@media (max-width: 700px) {
  .search {
    display: none;
  }

    .user_link span {
        display: none;
    }

    .user_link::before {
        right: -5px;
        bottom: -1px;
    }
}
