.container {
  margin: 50px 100px;
}

.decor__content {
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
  margin-bottom: 50px;
}

.decor__inputs_part {
  width: 70%;
}

.decor__inputs_part h3 {
  font-weight: 500;
  font-size: 24px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.decor__inputs_part h4 {
  font-weight: 600;
  font-size: 16px;
  color: #333333;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
}

.decor__inputs_part input {
  padding: 15px 20px;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid #d9d9d9;
}

.decor__inputs_part input::placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #b2b2b2;
}

.decor__inputs_part textarea {
  width: 100%;
  height: 140px;
  padding: 15px 20px;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid #d9d9d9;
  resize: none;
}

.decor__inputs_part textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #b2b2b2;
}

.delivery__part {
  display: flex;
  justify-content: space-between;
}

.checkbox__cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkbox__cont label {
  display: flex;
  align-items: center;
  column-gap: 5px;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.even__inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
}

.even__inputs input {
  width: 100%;
}

.decorcomp__address .even__inputs:nth-child(2) {
    margin-bottom: 20px;
}

.input_and_error {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.errors {
    position: absolute;
    top: 50px;
    left: 0;
    color: red;
    font-size: 12px;
}

.errors__checkbox {
    position: absolute;
    top: 18px;
    left: 0;
    color: red;
    font-size: 12px;
}

.errors__message {
    position: absolute;
    top: 190px;
    left: 0;
    color: red;
    font-size: 12px;
}

.decor__check {
  width: 600px;
  height: 100%;
  padding: 20px;
  background-color: #efeeee;
}

.decor__check h3 {
  font-weight: 500;
  font-size: 24px;
  color: #000000;
  margin-bottom: 20px;
}

.check__card {
  padding: 10px 0px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.card__title_cont {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 10px;
}

.card__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card__title h4 {
  width: 230px;
  font-weight: 500;
  font-size: 14px;
  color: #333333;
}

.card__title span {
  font-weight: 400;
  font-size: 12px;
  color: #b2b2b2;
}

.card__title span:first-child {
  margin-right: 10px;
}

.card__ptice {
  font-weight: 700;
  font-size: 14px;
  color: #333333;
}

.price {
  padding: 10px 0px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.check__sum {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.check__sum span {
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}

.blushing {
  color: #e53030 !important;
}

.check__total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.check__total span {
  font-weight: 700;
  font-size: 16px;
  color: #333333;
}

.check__delivery {
  padding: 20px 0px 40px 0px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 20px;
}

.delivery__text {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 12px;
  color: #000000;
}

.delivery__text p span {
  font-weight: 400;
  font-size: 12px;
  color: #969696;
}

@media (max-width: 1400px) { 
    .decor__inputs_part {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .decorcomp__address .even__inputs:nth-child(2) {
        margin-bottom: 30px;
    }

    .delivery__part {
        flex-direction: column;
        row-gap: 20px;
    }
}

@media (max-width: 1050px) {    
    .decor__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        row-gap: 40px;
        margin-bottom: 50px;
    } 

    .decor__inputs_part {
        width: 100%;
    }

    .checkbox__cont {
        align-items: flex-start;
        row-gap: 20px;
        flex-direction: column;
    }
}

@media (max-width: 1000px) {
  .container {
    margin: 50px;
  }
}

@media (max-width: 700px) {
  .container {
    margin: 24px 20px;
  }

  .decor__inputs_part h3 {
    text-align: center;
  }

    .even__inputs {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

  .even__inputs input {
    width: 100%;
  }

    .uneven__inputs {
        flex-direction: column;
        row-gap: 10px;
    }
    
    .uneven__inputs input:first-child {
        width: 100%;
    }
    
    .uneven__inputs input:last-child {
        width: 100%;
    }

  .uneven__inputs {
    flex-direction: column;
    row-gap: 10px;
  }

  .uneven__inputs input:first-child {
    width: 100%;
  }

    .card__ptice {
        width: 70px;
    }
}

@media (max-width:320px) {
    .even__inputs {
        row-gap: 0px;
    }

    .decorcomp__address .even__inputs:nth-child(2) {
        margin-bottom: 0px;
    }

    .errors {
        position: relative;
        top: 0;
    }
    
    .errors__checkbox {
        position: relative;
        top: 0;
    }
    
    .errors__message {
        position: relative;
        top: 0;
    }
}
