.deliveryModal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
}

.container {
    width: 880px;
    position: relative;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 65px rgba(0, 0, 0, 0.2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.deliveryModal__card {
  padding: 10px 0px;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 20px;
}

.card__info h3 {
  width: 160px;
  font-weight: 300;
  font-size: 16px;
  color: #333333;
}

.card__info h3 span {
  font-weight: 600;
}

.card__price {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.card__price span:first-child {
  font-weight: 600;
  font-size: 12px;
  text-decoration-line: line-through;
}

.card__price span:last-child {
  font-weight: 700;
  font-size: 14px;
  color: #e53030;
}

.card__size {
  padding: 5px 25px;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 3px;
}

.deliveryModal__order {
  padding: 10px 0px;
  width: 55%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.deliveryModal__order h1 {
  font-weight: 500;
  font-size: 24px;
  color: #000000;
}

.deliveryModal__order input {
  padding: 15px 20px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  border: 1px solid #d9d9d9;
}

.deliveryModal__order input::placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #d9d9d9;
}

.deliveryModal__order span {
  width: 300px;
  font-weight: 400;
  font-size: 12px;
  color: #969696;
}

.deliveryModal__order span a {
  color: #e53030;
  text-decoration: underline;
}

.DeliveryModal__close {
  position: absolute;
  right: 30px;
  top: 21px;
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: all 0.3s;
}

.DeliveryModal__close:hover {
  transform: scale(1.2, 1.2);
}

.close {
  width: 100%;
  height: 100%;
}

@media (max-width: 880px) {
  .container {
    width: 380px;
    padding: 20px;
    flex-direction: column;
    row-gap: 10px;
  }

  .deliveryModal__card {
    width: 100%;
  }

  .deliveryModal__order {
    width: 100%;
    text-align: center;
  }

  .deliveryModal__order span {
    width: 100%;
  }
}

@media (max-width: 380px) {
  .container {
    width: 100%;
    padding: 20px;
    flex-direction: column;
    row-gap: 10px;
  }
}
