.container {
  padding: 70px 100px;
}

.form__container {
  display: flex;
  justify-content: space-between;
  column-gap: 25px;
  margin-bottom: 40px;
}

.form__slider {
  width: 420px;
  height: 700px;
  overflow-y: hidden;
}

.swiper {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.man {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form__info h1 {
  font-weight: 300;
  font-size: 50px;
  color: #333333;
  margin-bottom: 40px;
}

.form__card {
  padding: 40px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  border-top: 1px solid #d9d9d9;
}

.form__card:last-child {
  border-bottom: 1px solid #d9d9d9;
}

.card__title {
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: space-between;
}

.card__title h4 {
  font-weight: 500;
  font-size: 16px;
  color: #333333;
}

.card__sizes {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.card__sizes button {
  padding: 4px 12px;
  font-weight: 400;
  font-size: 14px;
  color: #d9d9d9;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  transition: all 0.3s;
  cursor: pointer;
}

.card__sizes button:focus {
  color: #000000;
  border: 1px solid #000000;
}

.card__prices {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
}

.card__prices span {
  width: 100px;
  font-weight: 600;
  font-size: 16px;
  color: #333333;
}

.card__prices span:first-child {
  text-decoration-line: line-through;
  color: #969696;
}

.card__prices span:last-child {
  color: #e53030;
}

@media (max-width: 1420px) {
  .form__container {
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
  }

  .form__slider {
    width: 600px;
    height: 700px;
  }
}

@media (max-width: 1000px) {
  .form__slider {
    width: 100%;
    height: 700px;
  }

  .form__info h1 {
    text-align: center;
  }

  .form__card {
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 20px;
  }

  .card__sizes {
    margin: 0 auto;
  }
}

@media (max-width: 800px) {
  .container {
    padding: 70px 20px;
  }
}

@media (max-width: 600px) {
  .form__slider {
    height: 500px;
  }
}

@media (max-width: 350px) {
  .form__slider {
    height: 300px;
  }
}
