.mainButton {
  display: inline-block;
  text-align: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.mainButton span {
  position: relative;
  padding: 14px 20px;
  display: inline-block;
  font-size: 16px;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 1;
  transition: all 0.3s;
}

.mainButton span:hover {
  color: #fff;
}

.mainButton::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: width 0.5s, height 0.5s;
}

.mainButton:hover:after {
  width: 100%;
  height: 100%;
}
