.container {
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.container h1 {
    font-weight: 300;
    font-size: 50px;
    color: #333333;
}

.container p {
    font-weight: 500;
    font-size: 16px;
    color: #414141;
}

.catalog__links ul {
    display: flex;
    align-items: center;
}

.catalog__links ul li {
    padding: 0px 15px;
    font-weight: 500;
    font-size: 16px;
    color: #333333;
    border-right: 2px solid #D9D9D9;
    text-decoration: underline;
    cursor: pointer;
}

.catalog__links ul li:last-child {
    border-right: none;
}

.catalog__wrapper_one {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.catalog__card_one {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    background: linear-gradient(180deg, #ffffff 0%, #ecebeb 100%);
}

.catalog__card_one span {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}

.catalog__wrapper_two {
    padding: 60px 0px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}