.container {
  padding: 40px 80px;
  margin: 60px 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  background-color: #fff;
}

.container h1 {
  font-weight: 300;
  font-size: 50px;
}

.collection__wrapper {
  display: flex;
  align-items: flex-start;
  column-gap: 20px;
}

.collection__slider {
  display: none;
}

@media (max-width: 1400px) {
  .collection__wrapper {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
  }
}

@media (max-width: 1000px) {
  .container {
    padding: 40px 20px;
    margin: 0px;
  }
}

@media (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .collection__wrapper {
    display: none;
  }

  .collection__slider {
    display: block;
    width: 100%;
  }
}

@media (max-width: 300px) {
  .container h1 {
    font-weight: 300;
    font-size: 30px;
  }
}
