.mainButtonTwo {
    width: 100%;
    padding: 16px 40px;
    background-color: #000;
    font-weight: 700;
    font-size: 13px;
    color: #FFFFFF;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .3s;
}

.mainButtonTwo:hover {
    color: #000;
    background-color: #d0d0d0;
}