.container {
  margin: 60px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 48px;
}

.container h1 {
  font-weight: 300;
  font-size: 50px;
}

.brands_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brands_wrapper a {
  display: inline-block;
  padding: 10px;
  width: 200px;
  height: 86px;
  border-left: 1px solid #d9d9d9;
}

.brands_wrapper a:first-child {
  border-left: none;
}

.logo {
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .container {
    margin: 60px 20px;
  }

  .brands_wrapper {
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    justify-content: center;
  }

  .brands_wrapper a {
    border: 1px solid #d9d9d9;
  }

  .brands_wrapper a:first-child {
    border-left: 1px solid #d9d9d9;
  }
}

@media (max-width: 300px) {
  .container h1 {
    font-weight: 300;
    font-size: 30px;
  }
}
