.last__title {
  background: url("../../public/last/background.jpg") no-repeat;
  object-fit: cover;
  background-position: center;
  padding: 230px 100px 270px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 15px;
  text-align: center;
}
.errors {
  color: red;
  font-size: 14px;
}

.last__title p {
  width: 700px;
  color: #ffffff;
  margin-bottom: 30px;
}

.last__title a {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.last__title a span {
  position: relative;
  padding: 14px 20px;
  display: inline-block;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 1;
  transition: all 0.3s;
}

.last__title a span:hover {
  color: #000;
}

.last__title a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: width 0.5s, height 0.5s;
}

.last__title a:hover:after {
  width: 100%;
  height: 100%;
}

.margin {
  margin: 0px 100px;
}

.last__content {
  position: relative;
  top: -100px;
  height: 200px;
  padding: 0px 100px 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 65px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
}

.phone {
  position: relative;
  top: -32px;
}

.last__user_part h2 {
  font-weight: 600;
  font-size: 24px;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.last__inputs {
  display: flex;
  gap: 10px;
  align-items: center;
}

.last__inputs input {
  width: 330px;
  padding: 15px 20px;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid #d9d9d9;
}

.last__inputs input::placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #b2b2b2;
}

.last__inputs input:focus {
  outline: none;
}

.last__inputs input:nth-child(2) {
  margin-left: 20px;
  border-right: none;
}

.last__user_part button {
  padding: 16px 40px;
  background-color: #000;
  font-weight: 700;
  font-size: 13px;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
}

@media (max-width: 1520px) {
  .last__content {
    top: -100px;
    height: auto;
    padding: 0px 50px 0px 50px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    column-gap: 20px;
  }

  .phone {
    top: 0px;
  }

  .last__user_part {
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .last__inputs {
    width: 100%;
    flex-direction: column;
    row-gap: 20px;
  }

  .last__inputs input {
    width: 100%;
  }

  .last__inputs input:nth-child(2) {
    margin-left: 0px;
    border-right: 1px solid #d9d9d9;
  }
}

@media (max-width: 850px) {
  .last__content {
    position: relative;
    top: -100px;
    height: 100%;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 65px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
  }

  .last__user_part button {
    width: 100%;
    padding: 16px 40px;
    background-color: #000;
    font-weight: 700;
    font-size: 13px;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
  }

  .last__title {
    padding: 150px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 15px;
    text-align: center;
  }

  .last__title p {
    width: 100%;
    color: #ffffff;
    margin-bottom: 30px;
  }

  .margin {
    margin: 0px 50px;
  }
}

@media (max-width: 650px) {
  .margin {
    margin: 0px 25px;
  }
}

@media (max-width: 480px) {
  .logo {
    width: 250px;
    height: 78px;
  }
}

@media (max-width: 480px) {
  .margin {
    margin: 0px;
  }

  .phone {
    width: 220px;
    height: 180px;
  }

  .last__content {
    top: 0px;
    padding: 10px;
    margin: 20px 0px;
  }

  .last__title {
    padding: 20px 10px;
  }
}
