.container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.container p {
    text-align: center;
    font-weight: 500;
    font-size: 65px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}