.container {
  padding: 35px 100px;
  display: flex;
  justify-content: space-between;
  border-top: 3px solid #e53030;
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 30px;
}

.footer__info p {
  width: 360px;
  font-weight: 400;
  font-size: 14px;
  color: #969696;
}

.footer__info span {
  font-weight: 400;
  font-size: 12px;
  color: #969696;
}

.footer__links {
  display: flex;
  column-gap: 40px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.footer__menu li a {
  font-weight: 400;
  font-size: 14px;
}

.footer__menu li a:hover {
  text-decoration: underline;
}

.footer__position {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  text-align: end;
}

.footer__address {
  display: flex;
  align-items: flex-start;
  column-gap: 15px;
}

.footer__address div h6 {
  font-weight: 600;
  font-size: 14px;
}

.footer__address div a {
  font-weight: 500;
  font-size: 12px;
}

.footer__address div a:hover {
  text-decoration: underline;
}

.footer__socials {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

@media (max-width: 1200px) {
  .container {
    padding: 35px 40px;
  }
}

@media (max-width: 900px) {
  .container {
    text-align: center;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
  }

  .footer__info {
    align-items: center;
  }

  .footer__position {
    align-items: center;
    text-align: center;
    row-gap: 25px;
  }

  .label {
    display: none;
  }
}

@media (max-width: 360px) {
  .footer__info p {
    width: 100%;
  }
}
