.container {
  padding: 70px 100px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}

.assemblagecomp__filter {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.assemblagecomp__filter button {
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;
}

.assemblagecomp__filter button:hover{
    text-decoration: underline;
}

.assemblagecomp__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
