.container {
    padding: 15px 140px;
    display: flex;
    align-items: center;
    column-gap: 25px;
    border-bottom: 1px solid #000000;
}

.container a {
    font-weight: 600;
    font-size: 14px;
    color: #969696;
}

.container a:first-child {
    color: #333333;
}

@media (max-width: 1400px) {
    .container {
        padding: 22px 60px;
    }
}

@media (max-width: 1000px) {
    .container {
        padding: 22px;
    }

    .container {
        justify-content: center;
    }
}

@media (max-width: 1000px) {
    .container a {
        display: none;
    }
    
    .container a:first-child {
       display: inline-block;
    }
}