.main__card {
    padding: 20px;
    display: inline-block;
    width: 320px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    cursor: pointer;
    transition: all .3s;
}

.main__card:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
}

.main__card::before {
    content: "-70%";
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    padding: 20px 5px;
    border-radius: 50%;
    background-color: #E53030;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}

.main__card h5 {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}

.main__card div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
}

.main__card div span:first-child {
    font-weight: 600;
    font-size: 16px;
    text-decoration-line: line-through;
    color: #969696;
}

.main__card div span:last-child {
    font-weight: 700;
    font-size: 16px;
    color: #E53030;
}